.app {
   height: 100vh;

   > div {
      height: calc(100% - 60px);
   }

   nav {
      height: 100%;
   }

   .login-button {
      float: right;
   }
}

.grid-container {
   padding-top: 2rem;
}

.no-tracks {
   text-align: center;
}

@media screen and (max-width: 768px) {
   .app div nav {
      display: none;
   }
}
